@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(ajax-loader.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    src: url(fonts/slick.eot);
    src: url(fonts/slick.eot?#iefix) format("embedded-opentype"), url(fonts/slick.woff) format("woff"), url(fonts/slick.ttf) format("truetype"), url(fonts/slick.svg#slick) format("svg");
    font-weight: 400;
    font-style: normal
}

.slick-next,
.slick-prev {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    background: transparent;
    color: transparent;
    outline: none
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    left: -25px;
    right: auto
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,
.slick-dots li button {
    height: 20px;
    width: 20px;
    cursor: pointer
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
}

@font-face {
    font-family: uniform-medium;
    src: url(../fonts/UNIFORMRNDEXCOND-MEDIUM.OTF);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: uniform-regular;
    src: url(../fonts/UNIFORMRNDEXCOND-REGULAR.OTF);
    font-weight: 400;
    font-style: normal
}

body {
    font-family: uniform-regular
}

body.modal-open>:not(.modal) {
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px)
}

body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.close {
    position: absolute;
    right: 0;
    opacity: 1;
    font-size: 65px;
    top: -37px;
    line-height: 25px
}

.close,
.close:hover {
    color: #fff
}

.close .close-text {
    font-size: 31px;
    vertical-align: bottom
}

.container-mz {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%
}

.header-main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    padding-top: 20px
}

.header-main .logo {
    background: url(../images/logo.png) no-repeat 50%;
    display: inline-block;
    width: 331px;
    height: 86px;
    background-size: contain
}

.menu {
    width: 40px;
    margin-left: auto;
    margin-right: 60px;
    cursor: pointer
}

.menu .line {
    width: 100%;
    display: block;
    height: 6px;
    background: #fff;
    margin: 5px 0;
    border-radius: 60px;
    transition: all .1s ease
}

.menu:hover .line-2 {
    margin: 8px 0;
    transition: all .1s ease
}

.menu.active .line-1 {
    transform: rotate(43deg);
    top: 3px;
    position: relative
}

.menu.active .line-2 {
    transform: rotate(-43deg);
    bottom: 3px;
    position: relative
}

.menu.active .line-3 {
    opacity: 0
}

.menu.active .line {
    margin: 0
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px
}

.nav-bottom .nav .nav-item {
    margin-left: 10px;
    margin-right: 10px
}

.nav-bottom .nav .nav-item .nav-link {
    text-align: left;
    color: #fff;
    border-radius: 18px;
    position: relative;
    top: 37px;
    padding: 2px 20px 31px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .3s ease
}

.nav-bottom .nav .nav-item .nav-link h4 {
    font-size: 50px;
    margin-bottom: 5px;
    line-height: 37px
}

.nav-bottom .nav .nav-item .nav-link p {
    margin-bottom: 0;
    font-size: 27px;
    line-height: 26px
}

.nav-bottom .nav .nav-item .nav-link:hover {
    top: 15px
}

.nav-bottom .nav .nav-item .nav1 {
    background: url(../images/nav1.jpg) no-repeat 100%;
    background-size: cover
}

.nav-bottom .nav .nav-item .nav2 {
    background: url(../images/nav2.jpg) no-repeat 100%;
    background-size: cover
}

.nav-bottom .nav .nav-item .nav3 {
    background: url(../images/nav3.jpg) no-repeat 100%;
    background-size: cover
}

.nav-bottom .nav .nav-item .nav4 {
    background: url(../images/nav4.jpg) no-repeat 100%;
    background-size: cover
}

.main-slider,
.main-slider .slick-list,
.main-slider .slick-track {
    height: 100%
}

.main-slider .slide-item {
    background: url(../images/bg-1.jpg) no-repeat 50%;
    background-size: cover;
    overflow: hidden
}

.main-slider .slide-item.is-mobile {
    background: url(../images/main-bg-mobile.jpg) no-repeat 50%;
    background-size: cover
}

.main-slider .slider-items .img-fluid {
    position: relative;
    bottom: 15px
}

.main-slider .slick-track {
    display: flex
}

.main-slider .slick-track .slick-slide {
    display: flex;
    height: auto
}

.slick-next.slick-arrow {
    right: 11px;
    z-index: 9;
    background: url(../images/arrow.svg) no-repeat 50%;
    width: 49px;
    height: 29px;
    background-size: contain;
    background-position-x: 15px;
    transition: all .3s ease
}

.slick-next.slick-arrow:hover {
    background-position-x: 27px
}

.slick-next.slick-arrow:before {
    display: none
}

.slick-prev.slick-arrow {
    left: 11px;
    z-index: 9;
    background: url(../images/arrow.svg) no-repeat 50%;
    width: 49px;
    height: 29px;
    background-size: contain;
    transform: rotate(180deg);
    background-position-x: 15px;
    transition: all .3s ease
}

.slick-prev.slick-arrow:hover {
    background-position-x: 27px
}

.slick-prev.slick-arrow:before {
    display: none
}

.main-text {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .27);
    color: #fff;
    font-size: 72px
}

.main-text,
.vit {
    font-family: uniform-medium;
    transform: skew(0deg, -12deg)
}

.vit {
    background: #fff;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .961204) 70%, hsla(0, 0%, 100%, .972409));
    display: inline-block;
    color: #0c2a63;
    margin-left: -60px;
    margin-top: 30px;
    padding: 10px 30px 10px 66px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px
}

.vit h3 {
    font-size: 51px
}

.img-right {
    position: absolute;
    right: 90px;
    width: 100%
}

.tripple {
    position: absolute;
    right: 49%;
    width: 91%;
    height: auto;
    top: 20%
}

.tripple-seccond {
    width: 350px;
    margin-left: 40px
}

.p-100 {
    padding-top: 100px
}

.video-box {
    position: fixed;
    background: #000;
    box-shadow: 0 0 26px -8px rgba(0, 0, 0, .51);
    width: 400px;
    height: 250px;
    bottom: 120px;
    margin-left: 68px;
    overflow: hidden
}

.video-box img {
    object-fit: cover;
    width: 400px;
    height: 250px;
    opacity: .5
}

.video-box .play-btn {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%)
}

.video-box .arrow-play {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 26px -8px rgba(0, 0, 0, .51)
}

.video-box .arrow-play:hover {
    background: #ec5d1b
}

.video-box .arrow-play:hover .ico-play {
    background-position-y: 0
}

.video-box p {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 26px
}

.ico-play {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: url(../images/arrow-yellow.png) no-repeat 50%;
    background-size: 43px;
    background-position-y: -57px;
    left: 2px
}

.ico-play,
.img-mid {
    position: relative
}

.name-pl {
    position: absolute;
    bottom: 23%;
    right: 12%;
    font-size: 33px;
    font-family: uniform-medium;
    color: #fff;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, .55);
    line-height: 38px
}

.col-md-3.col-left {
    flex: 0 0 26%;
    max-width: 26%
}

.col-md-3.col-right {
    flex: 0 0 27%;
    max-width: 27%
}

.img-bottle {
    width: 477px;
    margin-left: auto
}

.ioc-mx {
    flex: 0 0 246px;
    max-width: 246px;
    padding-right: 29px;
    margin-bottom: 15px;
    margin-top: 15px
}

.small {
    width: 152px;
    text-align: right
}

.big,
.small,
.small img {
    margin-left: auto
}

.big {
    width: 188px;
    text-align: right
}

.big img {
    margin-left: auto
}

.ioc-dsc-big {
    font-size: 60px;
    color: #fff;
    line-height: 62px
}

.ioc-dsc-small {
    font-size: 40px;
    color: #fff;
    line-height: 44px
}

.col-md-3.col-right-second {
    flex: 0 0 35%;
    max-width: 35%
}

.main-menu {
    background: url(../images/bg-1.jpg) no-repeat 50%;
    background-size: cover;
    height: 100%;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: -1900px;
    display: flex;
    transition: all .3s ease
}

.main-menu.active,
.main-menu:target {
    top: 0
}

.main-menu.menu-trans {
    top: 0;
    left: -2000px
}

.main-menu.menu-trans.active {
    left: 0
}

.three-sec img {
    margin-left: -28px
}

.title-2 {
    color: #fff;
    font-size: 172px;
    line-height: 131px
}

.title-2 span {
    font-size: 141px
}

.title-our {
    font-size: 49px;
    color: #fff;
    letter-spacing: 5px;
    margin-left: 52px;
    margin-top: 20px
}

.loader {
    background: #012a74;
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loader-content p {
    font-size: 36px;
    color: #fff;
    letter-spacing: 10px
}

.spinner {
    animation: a 2s linear infinite;
    z-index: 2;
    position: relative;
    width: 151px;
    height: 151px;
    background: url(../images/loader.svg) no-repeat 50%;
    background-size: contain;
    bottom: 0;
    display: inline-block
}

@keyframes a {
    to {
        transform: rotate(1turn)
    }
}

.for-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover!important
}

.vh-100 {
    height: 100%
}

.nav-product-tabs .nav-link {
    padding-left: 0;
    color: #fff;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

.nav-product-tabs .nav-link .is-active {
    position: absolute;
    left: 0;
    bottom: 20px;
    opacity: 0
}

.nav-product-tabs .nav-link.active .is-active,
.nav-product-tabs .nav-link:hover .is-active {
    opacity: 1
}

.nav-product-tabs .nav-link.active .is-not-active,
.nav-product-tabs .nav-link:hover .is-not-active {
    opacity: 0
}

.nav-back {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer
}

.nav-back i {
    position: relative;
    top: -5px;
    animation: b 1.3s linear infinite;
    transition: animation 1.3s ease
}

.nav-back:hover {
    color: #fff;
    text-decoration: none
}

.nav-back:hover i {
    position: relative
}

@keyframes b {
    0% {
        left: 0
    }
    50% {
        left: -15%
    }
    to {
        left: 0
    }
}

.arrow-back {
    background: url(../images/arrow.svg) no-repeat 50%;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    vertical-align: sub
}

.one-sec {
    position: relative;
    width: 100%;
    left: -63px;
    height: 100%
}

.one-sec.moveon {
    left: -48px
}

.one-sec img {
    max-width: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.two-sec {
    width: 100%;
    left: -209px;
    display: flex;
    align-items: center
}

.two-sec,
.two-sec .bottle-container {
    position: relative
}

.two-sec .bottle-container .bottle-fluid {
    position: relative;
    filter: drop-shadow(-3px 2px 17px #fff);
    height: auto;
    width: 100%
}

.two-sec.is-single {
    left: -109px
}

.two-sec.is-single img {
    width: 66%
}

.new-label {
    position: absolute;
    bottom: -59px;
    right: 0;
    width: 67%
}

.three-sec {
    width: 100%;
    position: relative;
    left: -97px
}

.act-text {
    font-size: 160px;
    color: #fff;
    line-height: 160px
}

.sub-olo {
    font-size: 58px;
    color: #fff;
    margin-top: -20px
}

.f-28 {
    font-size: 21px
}

.sabi-rig {
    text-align: center;
    width: 329px
}

.sabi-rig h4 {
    font-family: uniform-medium;
    font-size: 80px;
    color: #fff;
    line-height: 63px
}

.sabi-rig h4 span {
    font-size: 60px
}

.mi-desc {
    font-family: Roboto, sans-serif
}

.main-m-bg {
    background: url(../images/main-bg-mobile.jpg) no-repeat 50%;
    background-size: cover
}

.menu-title {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    z-index: 9;
    top: 80px
}

.menu-title h3 {
    font-size: 48px;
    font-family: uniform-medium;
    margin-bottom: 0
}

.menu-title p {
    font-family: uniform-regular;
    letter-spacing: 3px;
    font-size: 22px
}

.normalize {
    background: transparent;
    height: 100%;
    display: block
}

.slide-menu {
    padding-top: 200px;
    display: flex;
    align-items: center;
    height: 100%
}

.f-100 {
    flex: 100%
}

.slide-item.is-mobile {
    background-size: cover!important;
    position: relative;
    height: 100%
}

.btn-view {
    position: absolute;
    bottom: 20px;
    left: 31px;
    right: 31px
}

.is-view-content {
    position: absolute;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
    padding: 31px;
    padding-bottom: 20px;
    border-top-left-radius: 36px;
    border-top-right-radius: 31px;
    font-size: 20px;
    color: #1e4594;
    font-family: Roboto, sans-serif
}

.btn-primary {
    background: #1e4594;
    color: #fff;
    border-radius: 18px;
    border-color: #1e4594;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 2px;
    font-size: 24px
}

.img-text {
    margin-left: -14px;
    margin-bottom: 12px;
    width: 225px
}

.sub-olo {
    font-size: 48px
}

.img-tallent {
    position: relative;
    left: -28px;
    top: 0;
    height: 280px
}

.img-tallent.left-0 {
    left: 0
}

.mizone-bottle {
    position: relative;
    right: 0;
    bottom: 0
}

.mizone-bottle .img-bottle {
    position: absolute;
    bottom: 0;
    height: 356px;
    width: auto;
    right: 0;
    filter: drop-shadow(-3px 2px 17px #fff)
}

.mizone-bottle .img-bottle.is-single {
    height: 488px
}

.label-new-m {
    position: absolute;
    width: 144px;
    transform: rotate(9deg);
    bottom: 216px;
    right: -21px
}

.menu-slider {
    height: 100%;
    background: #55b2db
}

.menu-slider .slick-list,
.menu-slider .slick-track {
    height: 100%;
    overflow: hidden
}

.menu-slider .slide-item {
    height: 100%;
    width: 100vw!important
}

.menu-slider .slick-dots {
    position: absolute;
    top: 180px;
    bottom: auto;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 99
}

.menu-slider .slick-dots li button:before {
    display: none
}

.menu-slider .slick-dots li {
    background: hsla(0, 0%, 100%, .7);
    height: 6px;
    width: 67px;
    border-radius: 7px
}

.menu-slider .slick-dots li:first-child.slick-active {
    background: #fb8f2b
}

.menu-slider .slick-dots li:nth-child(2).slick-active {
    background: #ff2eb9
}

.menu-slider .slick-dots li:nth-child(3).slick-active {
    background: #83d100
}

.menu-slider .slick-dots li:nth-child(4).slick-active {
    background: #ee3e70
}

.menu-slider.slick-dotted.slick-slider {
    margin-bottom: 0
}

.menu-slider .slick-track {
    display: flex
}

.menu-slider .slick-track .slick-slide {
    display: flex;
    height: auto
}

.product-link .product-shade {
    transform: scale(1) rotate(0);
    transition: all .3s ease;
    filter: drop-shadow(8px 1px 10px rgba(0, 0, 0, .4))
}

.product-link:hover .product-shade {
    transform: scale(1.2) rotate(7deg);
    transition: all .3s ease;
    filter: drop-shadow(0 1px 11px white)
}

.slider-items {
    height: 100%
}

.video {
    position: fixed;
    bottom: 20%
}

.title-sub {
    color: #fff;
    font-size: 20px;
    margin-top: 12px
}

.video-js {
    position: relative;
    min-width: 300px;
    min-height: 150px;
    height: 0;
    flex: 3 1 70%
}

.playlist-container {
    flex: 1 1 30%
}

.vjs-playlist {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.ico-nav {
    display: inline-block;
    width: 173px;
    height: 90px
}

.tab-activ {
    background: url(../images/tab-activ.svg) no-repeat 50%/contain
}

.tab-move {
    background: url(../images/tab-move.svg) no-repeat 50%/contain
}

.tab-mood {
    background: url(../images/tab-mood.svg) no-repeat 50%/contain
}

.tab-break {
    background: url(../images/tab-break.svg) no-repeat 50%/contain
}

.pt-6 {
    padding-top: 6rem
}

.text-img {
    position: relative;
    z-index: 9
}

.text-img-d {
    width: 402px;
    margin-left: -28px
}

.aligntmen-over-left {
    margin-left: -92px
}

.aligntment-row-over {
    margin-left: -75px;
    height: 100%
}

.delay-1 {
    animation-delay: .5s
}

.delay-2 {
    animation-delay: .75s
}

.delay-3 {
    animation-delay: 1s
}

.delay-4 {
    animation-delay: 1.5s
}

.modal-backdrop.show {
    opacity: .85
}

.modal-backdrop {
    background-color: #012a74
}

.aligntment-row-over .col-8 img {
    transform: scale(1.04)
}

.close-view {
    font-family: uniform-regular
}

@media (orientation:landscape) {
    html.mobile body {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        height: auto;
        position: absolute;
        top: 100%;
        left: 0
    }
    html.mobile body .main-slider,
    html.mobile body .menu-slider {
        height: 100vw
    }
    html.mobile .col-ipd {
        max-width: 100%;
        flex: 0 0 100%
    }
    html.mobile .slide-item.is-mobile {
        height: 100vw
    }
    html.mobile .img-text {
        width: 117px;
        margin-left: -7px
    }
    html.mobile .sub-olo {
        font-size: 19px
    }
    html.mobile .video-box {
        margin-left: 0;
        bottom: 30px
    }
    html.mobile .video-box,
    html.mobile .video-box img {
        width: 205px;
        height: 138px
    }
    html.mobile .modal-backdrop {
        height: 100vw
    }
}

@media (max-width:1598.98px) and (orientation:landscape) {
    html.mobile .video-box {
        margin-left: 0;
        bottom: 30px
    }
    html.mobile .video-box,
    html.mobile .video-box img {
        width: 250px;
        height: 190px
    }
}

@media (max-width:1598.98px) {
    .aligntment-row-over {
        margin-left: 0
    }
    html.mobile .slick-next.slick-arrow:hover,
    html.mobile .slick-prev.slick-arrow:hover {
        background-position-x: 0
    }
}

@media (max-width:1440.98px) {
    .video-box,
    .video-box img {
        width: 318px;
        height: 190px
    }
}

@media (max-width:1367.98px) {
    .main-text {
        font-size: 47px
    }
    .vit h3 {
        font-size: 34px
    }
    .nav-product-tabs .nav-link .menu-activ,
    .nav-product-tabs .nav-link .menu-break,
    .nav-product-tabs .nav-link .menu-mood,
    .nav-product-tabs .nav-link .menu-move {
        width: 203px;
        height: 55px;
        background-size: 187px;
        background-position-y: 0
    }
    .nav-product-tabs .nav-link .menu-break {
        background-size: 225px!important;
        width: 233px;
        background-position-x: -6px
    }
    .nav-product-tabs .nav-link .menu-active {
        background-position-y: 0
    }
    .nav-product-tabs .nav-link .menu-move {
        background-position-y: -4px
    }
    .nav-product-tabs .nav-link.active .menu-activ,
    .nav-product-tabs .nav-link:hover .menu-activ {
        background-position-y: -63px;
        background-position-x: -7px
    }
    .nav-product-tabs .nav-link.active .menu-move,
    .nav-product-tabs .nav-link:hover .menu-move {
        background-position-y: -70px
    }
    .nav-product-tabs .nav-link.active .menu-break,
    .nav-product-tabs .nav-link:hover .menu-break {
        background-position-y: -65px
    }
    .nav-product-tabs .nav-link.active .menu-mood,
    .nav-product-tabs .nav-link:hover .menu-mood {
        background-position-y: -67px
    }
    .nav-product-tabs .nav-link img {
        height: 42px
    }
    .video-box {
        width: 267px;
        height: 167px;
        bottom: 90px;
        margin-left: 41px
    }
    .video-box img {
        width: 284px;
        height: 180px;
        object-fit: cover
    }
    .video-box p {
        font-size: 20px
    }
    .video-box .arrow-play {
        width: 77px;
        height: 77px
    }
    .ico-play {
        width: 57px;
        height: 57px;
        background-size: 41px;
        background-position-y: -52px
    }
    .video-box .arrow-play:hover .ico-play {
        background-position-y: 2px
    }
    .nav-bottom .nav .nav-item .nav-link h4 {
        font-size: 30px;
        line-height: 24px
    }
    .nav-bottom .nav .nav-item .nav-link p {
        font-size: 20px
    }
    .nav-bottom .nav .nav-item .nav-link {
        padding: 0 18px 26px
    }
    .ico-nav {
        width: 128px;
        height: 68px
    }
    .header-main .logo {
        width: 236px;
        height: 61px
    }
    .menu {
        width: 30px
    }
    .menu .line {
        height: 4px
    }
    .img-bottle {
        width: 75%
    }
    .name-pl {
        font-size: 23px;
        line-height: 25px
    }
    .tripple-second {
        width: 290px;
        margin-left: 40px
    }
    .small {
        width: 80px
    }
    .big {
        width: 108px
    }
    .ioc-dsc-small {
        font-size: 21px;
        line-height: 21px
    }
    .ioc-dsc-big {
        font-size: 31px;
        line-height: 31px
    }
    .ioc-mx {
        flex: 0 0 179px;
        max-width: 179px
    }
    .menu.active .line-1 {
        top: 1px
    }
    .two-sec img {
        height: auto
    }
    .one-sec img {
        max-width: 100%
    }
    .three-sec img {
        width: 72%;
        margin-left: -18px
    }
    .f-28 {
        font-size: 15px
    }
    .sabi-rig h4 {
        font-size: 41px;
        line-height: 41px
    }
    .sabi-rig h4 span {
        font-size: 27px
    }
    .one-sec {
        left: -7%
    }
    .two-sec {
        left: -14%
    }
    .sabi-rig {
        width: 257px
    }
    .two-sec.moveon img {
        height: auto;
        width: 68%
    }
    .two-sec.moveon {
        left: -140px
    }
    .one-sec,
    .one-sec.moveon {
        left: 0
    }
    .img-tallent-d {
        height: auto
    }
    .text-img-d {
        width: 330px;
        margin-left: -22px
    }
    .aligntment-row-over {
        margin-left: 0
    }
    .title-2 {
        font-size: 112px;
        line-height: 85px
    }
    .title-our {
        font-size: 31px;
        letter-spacing: 5px;
        margin-left: 28px;
        margin-top: 13px
    }
    .title-2 span {
        font-size: 92px
    }
    .menu.menu-mobile:hover .line-2 {
        margin: 3px 0
    }
    .menu.menu-mobile.active:hover .line-2 {
        margin: 0
    }
    .object-img {
        margin-top: -120px
    }
}

@media (max-width:1366px) and (max-height:656px) {
    .slider-items .col-12.align-self-center {
        height: 96%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        overflow: hidden
    }
    .slider-items .col-12.align-self-center .img-fluid {
        height: 89%;
        max-width: none;
        margin: auto
    }
    .slider-items {
        width: 100vw!important
    }
    .img-fluid.product-shade {
        height: calc(100% - 122px);
        margin-top: 51px
    }
    .aligntment-row-over {
        width: 93%;
        margin-left: auto
    }
    .text-img-d {
        width: 265px;
        margin-left: -14px
    }
    .aligntmen-over-left {
        margin-left: -49px
    }
    .main-slider .slick-track .slick-slide {
        overflow: hidden
    }
}

@media (max-width:1199.98px) {
    .video-box p {
        top: 69%;
        font-size: 14px
    }
    .img-right {
        position: absolute;
        right: 57px;
        width: 100%
    }
    .title-2 span {
        font-size: 82px
    }
    .title-2 {
        color: #fff;
        font-size: 100px;
        line-height: 75px
    }
    .title-our {
        font-size: 15px
    }
    .nav-back {
        font-size: 27px
    }
    .arrow-back {
        width: 18px;
        height: 20px
    }
    .three-sec {
        left: 0
    }
    .two-sec {
        left: -34px
    }
    .one-sec {
        left: 32px
    }
    .sabi-rig.mt-5 {
        margin-top: 16px!important
    }
    .two-sec.is-single {
        left: 0
    }
    .one-sec.moveon {
        left: 37px
    }
    .three-sec img {
        width: 72%;
        margin-left: -11px
    }
    .video-box {
        margin-left: 46px;
        bottom: 109px
    }
    .slide-menu {
        padding-top: 200px;
        display: flex;
        height: 100%;
        padding-bottom: 250px
    }
    .slide-menu.container-mz {
        padding-left: 100px;
        padding-right: 100px
    }
    .aligntment {
        align-items: center
    }
    .nav-product-tabs .nav-link .menu-activ,
    .nav-product-tabs .nav-link .menu-break,
    .nav-product-tabs .nav-link .menu-mood,
    .nav-product-tabs .nav-link .menu-move {
        width: 198px;
        height: 42px;
        background-size: 153px;
        background-position-y: 0
    }
    .nav-product-tabs .nav-link .menu-break {
        background-size: 194px!important;
        width: 235px;
        height: 48px
    }
    .nav-product-tabs .nav-link .menu-active {
        background-position-y: 0
    }
    .nav-product-tabs .nav-link .menu-move {
        background-position-y: -3px;
        background-position-x: -10px
    }
    .nav-product-tabs .nav-link .menu-mood {
        background-position-x: -5px;
        background-position-y: -3px
    }
    .nav-product-tabs .nav-link.active .menu-activ,
    .nav-product-tabs .nav-link:hover .menu-activ {
        background-position-y: -53px;
        background-position-x: -7px
    }
    .nav-product-tabs .nav-link.active .menu-break,
    .nav-product-tabs .nav-link.active .menu-mood,
    .nav-product-tabs .nav-link.active .menu-move,
    .nav-product-tabs .nav-link:hover .menu-break,
    .nav-product-tabs .nav-link:hover .menu-mood,
    .nav-product-tabs .nav-link:hover .menu-move {
        background-position-y: -56px
    }
    .aligntmen-over-left {
        margin-left: -64px
    }
    .menu-title h3 {
        font-size: 57px
    }
    .aligntment {
        align-items: normal;
        height: 100%
    }
    .product-img {
        bottom: -267px;
        position: absolute;
        left: -26px;
        right: -26px
    }
    .product-img .img-fluid {
        width: 100%
    }
    .col-ipd {
        max-width: 100%;
        flex: 0 0 100%
    }
    .object-img .img-fluid {
        width: 100%
    }
}

@media (max-width:1024.98px) {
    .slide-menu {
        padding-top: 256px
    }
}

@media (max-width:991.98px) {
    .menu {
        margin-right: 15%;
        width: 33px
    }
    .video-box {
        margin-left: 46px;
        bottom: 46px
    }
    .header-main {
        padding-top: 10px
    }
    .pt-6 {
        padding-top: 69px
    }
    .main-text,
    .vit {
        position: relative;
        z-index: 99
    }
    .img-mid {
        position: relative;
        margin-top: 0;
        z-index: 1
    }
    .vit {
        margin-top: 10%
    }
    .vit h3 {
        font-size: 20px;
        margin-bottom: 0
    }
    .video-box {
        position: absolute;
        margin-top: 0;
        width: 291px;
        bottom: 76px;
        z-index: 99;
        left: 21px;
        margin-left: 0;
        height: 173px
    }
    .video-box img {
        width: 291px;
        object-fit: cover;
        height: 173px
    }
    .name-pl {
        font-size: 14px;
        line-height: 14px;
        font-family: uniform-regular;
        letter-spacing: 1px;
        top: 50%;
        left: 50%;
        margin: 4px 0 0;
        bottom: auto;
        width: 143px
    }
    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
        width: 22px;
        height: 22px
    }
    .slick-prev.slick-arrow {
        transform: none
    }
    .slick-next.slick-arrow,
    .slick-prev.slick-arrow {
        background: url(../images/back-arrow.svg) no-repeat 50%
    }
    .slick-next.slick-arrow {
        transform: rotate(180deg)
    }
    .menu .line {
        height: 6px;
        margin-top: 3px;
        margin-bottom: 3px
    }
    .menu.active .line-1 {
        top: 3px
    }
    .ioc-mx {
        flex: 0 0 86px;
        max-width: 86px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-right: 8px
    }
    .big {
        width: 80px
    }
    .small {
        width: 66px
    }
    .ioc-dsc-small {
        font-size: 18px;
        line-height: 18px
    }
    .ioc-dsc-big {
        font-size: 27px;
        line-height: 27px
    }
    .sub-olo {
        font-size: 34px
    }
    .bootle-mizone {
        position: absolute;
        width: 218px;
        right: -35px
    }
    .spinner {
        width: 115px;
        height: 115px
    }
    .loader-content p {
        font-size: 21px;
        color: #fff;
        letter-spacing: 10px;
        text-align: center;
        width: 115px
    }
    .slider-content {
        width: 100%;
        overflow: hidden
    }
    .object-img {
        position: relative;
        margin-top: -60px
    }
    .slick-next.slick-arrow:hover,
    .slick-prev.slick-arrow:hover {
        background-position-x: 0
    }
    .product-img {
        bottom: -72px
    }
}

@media (max-width:834.98px) {
    .col-ipd {
        width: 100%;
        flex: 0 0 100%
    }
    .slide-menu.container-mz {
        padding-left: 80px;
        padding-right: 80px
    }
    .slide-menu {
        padding-bottom: 0;
        padding-top: 240px
    }
    .section-text {
        padding-left: 10px
    }
    .object-img {
        margin-top: -80px
    }
    .object-img img {
        transform: scale(1.1)
    }
    .text-img {
        width: 60%
    }
}

@media (max-width:767.98px) {
    .video-box {
        margin-left: 60px
    }
    .product-img {
        bottom: 0
    }
    .header-main .logo {
        width: 165px;
        height: 45px
    }
    .close {
        position: absolute;
        right: 0;
        color: #fff;
        opacity: 1;
        font-size: 65px;
        top: -50px;
        line-height: 25px
    }
    .f-100 {
        flex: 100%
    }
    .mizone-bottle .img-bottle.is-single {
        height: 433px;
        margin-right: 20px
    }
    .mizone-bottle .img-bottle {
        margin-bottom: 49px;
        height: 338px
    }
    .label-new-m {
        margin-bottom: 30px
    }
    .menu.active:hover .line-2 {
        margin: 0
    }
    .slide-menu.container-mz {
        padding-left: 61px;
        padding-right: 61px;
        padding-top: 170px
    }
    .menu-title p {
        font-size: 14px
    }
    .menu-title h3 {
        font-size: 34px
    }
    .menu-slider .slick-dots {
        top: 149px
    }
    .menu-slider .slick-dots li {
        height: 4px;
        width: 49px;
        border-radius: 7px
    }
    .img-text {
        width: 41%
    }
    .slide-menu {
        padding-bottom: 0
    }
    .video-box .arrow-play {
        width: 50px;
        height: 50px
    }
    .ico-play {
        width: 32px;
        height: 32px;
        background-size: 25px;
        background-position-y: -32px
    }
    .video-box .arrow-play:hover .ico-play {
        background-position-y: 0
    }
    .btn-primary {
        font-size: 20px
    }
    .object-img img {
        transform: scale(1)
    }
}

@media (max-width:575.98px) {
    .text-img {
        width: 83%;
        left: -13px
    }
    .pt-6 {
        padding-top: 42px
    }
    .object-img {
        width: 137%;
        margin-left: -38px
    }
    .video-box {
        position: absolute;
        margin-top: 0;
        width: 191px;
        bottom: 20px;
        z-index: 99;
        left: 21px;
        margin-left: 0;
        height: 117px
    }
    .video-box img {
        width: 191px;
        object-fit: cover;
        height: 117px
    }
    .img-text {
        width: 157px
    }
    .sub-olo {
        font-size: 21px
    }
    .slide-menu.container-mz {
        padding-left: 41px;
        padding-right: 41px;
        padding-top: 170px
    }
    .img-text {
        margin-left: -10px
    }
    .img-text.size-act {
        width: 155px
    }
    .object-img {
        margin-top: -60px
    }
}

@media (max-width:375.98px) {
    .img-tallent {
        height: 243px
    }
    .mizone-bottle .img-bottle {
        height: 330px
    }
    .mizone-bottle .img-bottle.is-single {
        height: 373px
    }
}

@media (max-width:320px) {
    .main-text {
        font-size: 38px
    }
    .video-box {
        width: 173px
    }
    .video-box .arrow-play {
        top: 40%
    }
    .bootle-mizone {
        width: 162px
    }
    .small {
        width: 52px
    }
    .big {
        width: 72px
    }
    .ioc-dsc-small {
        font-size: 14px;
        line-height: 18px
    }
    .ioc-dsc-big {
        font-size: 21px;
        line-height: 24px
    }
    .img-tallent {
        height: 186px
    }
    .mizone-bottle .img-bottle {
        height: 261px
    }
    .label-new-m {
        bottom: 161px;
        right: -32px;
        margin-bottom: 37px;
        width: 130px
    }
    .mizone-bottle .img-bottle.is-single {
        height: 274px
    }
    .text-img {
        left: -6px
    }
    .product-img {
        left: -17px;
        right: -17px
    }
    .sub-olo {
        font-size: 16px
    }
    .img-text {
        width: 105px;
        margin-left: -8px
    }
    .img-text.size-act {
        width: 110px
    }
}

@media (max-height:900.98px) {
    .section-text {
        margin-top: 48px
    }
}

@media (max-height:747.98px) {
    .section-text {
        margin-top: 0
    }
}

@media (max-height:640.98px) {
    .product-img {
        bottom: 0;
        width: 107%;
        margin: auto
    }
}

@media (max-height:568.98px) {
    .product-img {
        width: 100%;
        margin: auto
    }
    .img-text.size-act {
        width: 100px
    }
}

@media (max-height:509.98px) {
    .product-img {
        width: 91%;
        margin: auto
    }
}

@media (max-height: 656px) and (max-width: 1366px) {
    .video-box {
        margin-left: 2.8%
    }
    .img-fluid.product-shade {
        height: 70vh;
        margin-top: 0px
    }
    .slider-items .col-12.align-self-center .img-fluid {
        height: 95%
    }
    .container-mz .vh-100 .col-md-2 {
        transform: scale(0.7);
    }
}

.aligntmen-over-left p {
    text-transform: uppercase
}

@media (max-width: 1367.98px) {
    .sabi-rig h4 {
        line-height: 30px;
    }
    .sabi-rig.mt-5 {
        margin-top: 1.5rem!important
    }
}

@media (min-aspect-ratio: 2/1) {
    .slider-items {
        width: 100vw!important;
        text-align: center
    }
    .main-slider .slider-items .img-fluid {
        height: 95vh!important;
        width: auto!important;
        margin: 0 auto
    }
    .video-box {
        width: 300px;
        height: 188px;
        margin-left: 2.3%;
    }
    .video-box img {
        width: 300px;
        height: 188px;
    }
    .video-box .play-btn {
        transform: scale(0.7) translateY(-50%);
        top: 40%
    }
    .main-menu .col-md-4 {
        transform: scale(0.7);
        left: -70px;
    }
    .ico-nav {
        height: 70px
    }
    .container-mz .vh-100 .col-md-2 {
        transform: scale(0.7);
    }
    .aligntment-row-over .col-8 img {
        transform: scale(1);
        max-height: 100vh;
        width: auto
    }
    .aligntmen-over-left {
        transform: scale(0.75);
    }
    .product-link .product-shade {
        transform: scale(0.8);
    }
}

.product-link .product-shade {
    transform: scale(0.75)
}

.product-link:hover .product-shade {
    transform: scale(0.9) rotate(7deg);
}

@media (max-height: 656px) and (max-width: 1366px) and (min-aspect-ratio: 2/1) {
    .product-link .product-shade {
        height: auto
    }
    .main-menu .col-md-4 {
        transform: scale(0.9);
        left: -40px
    }
    .aligntmen-over-left {
        transform: scale(1)
    }
}

@media (max-width:410px) and (max-height:620px) and (orientation:portrait) {
    .object-img img {
        width: 80%!important;
        margin: 0 auto;
        transform: translateX(-20px);
    }
    .video-box {
        transform: scale(0.9);
        margin-left: 0%
    }
    .text-img {
        width: 65%!important
    }
    .slide-item.is-mobile .pt-6 {
        padding-top: 60px!important
    }
    .menu-title {
        transform: scale(0.8);
        top: 60px
    }
    .menu-slider .slick-dots {
        top: 120px
    }
    .slide-menu.container-mz {
        padding-top: 140px
    }
    .product-img {
        bottom: -10px
    }
    .product-img .img-fluid {
        float: right;
        transform: scale(0.85);
        margin-bottom: 0px;
    }
    .img-text.size-act {
        width: 155px
    }
    .section-text {
        transform: scale(0.8);
        margin-top: -10px;
        margin-left: -10px;
    }
    .activ .product-img .img-fluid {
        transform: scale(0.9);
        margin-bottom: 0
    }
    .activ .product-img {
        bottom: 0px
    }
    .section-text .sub-olo {
        font-size: 30px
    }
    .menu-title p {
        font-size: 18px;
        margin-top: -4px;
    }
}

@media (min-aspect-ratio: 1/2) and (max-height:630px) and (orientation:portrait) {
    .section-text {
        transform: scale(0.85);
        margin-top: 0px;
        margin-left: 0px;
    }
    .product-img .img-fluid {
        transform: scale(0.85);
        margin-bottom: -30px;
    }
    .activ .product-img .img-fluid {
        transform: scale(0.9);
        margin-bottom: -20px
    }
    .object-img img {
        width: 80%!important;
        margin: 0 auto;
        transform: translateX(-20px);
    }
}

@media (min-aspect-ratio: 1/2) and (max-height:580px) and (orientation:portrait) {
    .object-img img {
        width: 80%!important;
        margin: 0 auto;
        transform: translateX(-20px);
    }
    .video-box {
        transform: scale(0.9);
        margin-left: 0%
    }
    .text-img {
        width: 65%!important
    }
    .slide-item.is-mobile .pt-6 {
        padding-top: 60px!important
    }
    .menu-title {
        transform: scale(0.8);
        top: 60px
    }
    .menu-slider .slick-dots {
        top: 120px
    }
    .slide-menu.container-mz {
        padding-top: 140px
    }
    .product-img {
        bottom: -10px
    }
    .product-img .img-fluid {
        float: right;
        transform: scale(0.85);
        margin-bottom: 0px;
    }
    .img-text.size-act {
        width: 155px
    }
    .section-text {
        transform: scale(0.7);
        margin-top: -20px;
        margin-left: -30px;
    }
    .activ .product-img .img-fluid {
        transform: scale(0.9);
        margin-bottom: 0
    }
    .activ .product-img {
        bottom: 0px
    }
}

.menu-mobile {
    margin-top: -10px;
}