.mrml0 {
  margin-right: 0px !important;
  margin-left: 0px !important; }

.prpl0 {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.p0 {
  padding: 0px !important; }

.m0 {
  margin: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.mrml5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.prpl5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.p5 {
  padding: 5px !important; }

.m5 {
  margin: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.mrml10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.prpl10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p10 {
  padding: 10px !important; }

.m10 {
  margin: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.mrml15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.prpl15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p15 {
  padding: 15px !important; }

.m15 {
  margin: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.mrml20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.prpl20 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p20 {
  padding: 20px !important; }

.m20 {
  margin: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.mrml25 {
  margin-right: 25px !important;
  margin-left: 25px !important; }

.prpl25 {
  padding-right: 25px !important;
  padding-left: 25px !important; }

.p25 {
  padding: 25px !important; }

.m25 {
  margin: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.mrml30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.prpl30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p30 {
  padding: 30px !important; }

.m30 {
  margin: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.mrml35 {
  margin-right: 35px !important;
  margin-left: 35px !important; }

.prpl35 {
  padding-right: 35px !important;
  padding-left: 35px !important; }

.p35 {
  padding: 35px !important; }

.m35 {
  margin: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.mrml40 {
  margin-right: 40px !important;
  margin-left: 40px !important; }

.prpl40 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.p40 {
  padding: 40px !important; }

.m40 {
  margin: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.mrml45 {
  margin-right: 45px !important;
  margin-left: 45px !important; }

.prpl45 {
  padding-right: 45px !important;
  padding-left: 45px !important; }

.p45 {
  padding: 45px !important; }

.m45 {
  margin: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.mrml50 {
  margin-right: 50px !important;
  margin-left: 50px !important; }

.prpl50 {
  padding-right: 50px !important;
  padding-left: 50px !important; }

.p50 {
  padding: 50px !important; }

.m50 {
  margin: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.mrml55 {
  margin-right: 55px !important;
  margin-left: 55px !important; }

.prpl55 {
  padding-right: 55px !important;
  padding-left: 55px !important; }

.p55 {
  padding: 55px !important; }

.m55 {
  margin: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.mrml60 {
  margin-right: 60px !important;
  margin-left: 60px !important; }

.prpl60 {
  padding-right: 60px !important;
  padding-left: 60px !important; }

.p60 {
  padding: 60px !important; }

.m60 {
  margin: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.desktop {
  display: block !important; }
  .desktop.desktop-inline {
    display: inline-block !important; }
    @media only screen and (max-width: 1000px) {
      .desktop.desktop-inline {
        display: none !important; } }
    @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
      .desktop.desktop-inline {
        display: none !important; } }
  @media only screen and (max-width: 1000px) {
    .desktop {
      display: none !important; } }
  @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
    .desktop {
      display: none !important; } }

.mobile {
  display: none !important; }
  .mobile.mobile-inline {
    display: none !important; }
    @media only screen and (max-width: 1000px) {
      .mobile.mobile-inline {
        display: inline-block !important; } }
  @media only screen and (max-width: 1000px) {
    .mobile {
      display: block !important; } }
  @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
    .mobile {
      display: block !important; } }

.w-100 {
  width: 100% !important; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.datepicker {
  border-radius: 0;
  box-shadow: none; }
  .datepicker > div {
    visibility: visible;
    opacity: 1;
    width: auto;
    display: block; }

.text.text-lg {
  font-size: 30px !important;
  line-height: 30px !important; }
.text.text-nm {
  font-size: 20px !important;
  line-height: 20px !important; }
.text.text-sm {
  font-size: 12px !important;
  line-height: 12px !important; }
.text.text-bold {
  font-weight: bold !important; }
.text.text-regular {
  font-weight: normal !important; }
.text.text-600 {
  font-weight: 600 !important; }

/*# sourceMappingURL=my-sass.css.map */
