.mrml0 {
  margin-right: 0px !important;
  margin-left: 0px !important; }

.prpl0 {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.p0 {
  padding: 0px !important; }

.m0 {
  margin: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.mrml5 {
  margin-right: 5px !important;
  margin-left: 5px !important; }

.prpl5 {
  padding-right: 5px !important;
  padding-left: 5px !important; }

.p5 {
  padding: 5px !important; }

.m5 {
  margin: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.mrml10 {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.prpl10 {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.p10 {
  padding: 10px !important; }

.m10 {
  margin: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.mrml15 {
  margin-right: 15px !important;
  margin-left: 15px !important; }

.prpl15 {
  padding-right: 15px !important;
  padding-left: 15px !important; }

.p15 {
  padding: 15px !important; }

.m15 {
  margin: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.mrml20 {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.prpl20 {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.p20 {
  padding: 20px !important; }

.m20 {
  margin: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.mrml25 {
  margin-right: 25px !important;
  margin-left: 25px !important; }

.prpl25 {
  padding-right: 25px !important;
  padding-left: 25px !important; }

.p25 {
  padding: 25px !important; }

.m25 {
  margin: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.mrml30 {
  margin-right: 30px !important;
  margin-left: 30px !important; }

.prpl30 {
  padding-right: 30px !important;
  padding-left: 30px !important; }

.p30 {
  padding: 30px !important; }

.m30 {
  margin: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.mrml35 {
  margin-right: 35px !important;
  margin-left: 35px !important; }

.prpl35 {
  padding-right: 35px !important;
  padding-left: 35px !important; }

.p35 {
  padding: 35px !important; }

.m35 {
  margin: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.mrml40 {
  margin-right: 40px !important;
  margin-left: 40px !important; }

.prpl40 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.p40 {
  padding: 40px !important; }

.m40 {
  margin: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.mrml45 {
  margin-right: 45px !important;
  margin-left: 45px !important; }

.prpl45 {
  padding-right: 45px !important;
  padding-left: 45px !important; }

.p45 {
  padding: 45px !important; }

.m45 {
  margin: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.mrml50 {
  margin-right: 50px !important;
  margin-left: 50px !important; }

.prpl50 {
  padding-right: 50px !important;
  padding-left: 50px !important; }

.p50 {
  padding: 50px !important; }

.m50 {
  margin: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.mrml55 {
  margin-right: 55px !important;
  margin-left: 55px !important; }

.prpl55 {
  padding-right: 55px !important;
  padding-left: 55px !important; }

.p55 {
  padding: 55px !important; }

.m55 {
  margin: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.mrml60 {
  margin-right: 60px !important;
  margin-left: 60px !important; }

.prpl60 {
  padding-right: 60px !important;
  padding-left: 60px !important; }

.p60 {
  padding: 60px !important; }

.m60 {
  margin: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.desktop {
  display: block !important; }
  .desktop.desktop-inline {
    display: inline-block !important; }
    @media only screen and (max-width: 1000px) {
      .desktop.desktop-inline {
        display: none !important; } }
    @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
      .desktop.desktop-inline {
        display: none !important; } }
  @media only screen and (max-width: 1000px) {
    .desktop {
      display: none !important; } }
  @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
    .desktop {
      display: none !important; } }

.mobile {
  display: none !important; }
  .mobile.mobile-inline {
    display: none !important; }
    @media only screen and (max-width: 1000px) {
      .mobile.mobile-inline {
        display: inline-block !important; } }
  @media only screen and (max-width: 1000px) {
    .mobile {
      display: block !important; } }
  @media (min-width: 500px) and (max-width: 700px) and (orientation: landscape) {
    .mobile {
      display: block !important; } }

.w-100 {
  width: 100% !important; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.datepicker {
  border-radius: 0;
  box-shadow: none; }
  .datepicker > div {
    visibility: visible;
    opacity: 1;
    width: auto;
    display: block; }

.text.text-lg {
  font-size: 30px !important;
  line-height: 30px !important; }
.text.text-nm {
  font-size: 20px !important;
  line-height: 20px !important; }
.text.text-sm {
  font-size: 12px !important;
  line-height: 12px !important; }
.text.text-bold {
  font-weight: bold !important; }
.text.text-regular {
  font-weight: normal !important; }
.text.text-600 {
  font-weight: 600 !important; }

body {
  background-color: #f9f9fb; }

.w-25px {
  width: 25px !important; }

.btn.btn-inna {
  color: #f9f9fb;
  background: #1c4094;
  border-color: #1c4094;
  border-radius: 2px;
  padding: 6px 30px;
  font-weight: 700; }
  .btn.btn-inna:focus {
    color: #f9f9fb !important;
    background: #1c4094 !important;
    border-color: #1c4094 !important; }
  .btn.btn-inna.btn-outlined {
    background-color: transparent;
    color: #aaa;
    border-color: #aaa; }
    .btn.btn-inna.btn-outlined:focus {
      color: #aaa !important;
      background: transparent !important;
      border-color: #aaa !important; }

.form-control {
  border-radius: 2px;
  height: 35px;
  max-width: 100%;
  padding: 4px 6px; }
  .form-control:focus {
    border-color: #ccc; }

.input-sm {
  border-radius: 0px; }

.form-horizontal .control-label {
  text-align: left;
  font-weight: 500;
  font-size: 15px; }

.error {
  margin: 0px; }
  .error p {
    margin: 0px; }

.i-checks > i:before {
  transition: none; }

.i-checks input:checked + i {
  border-color: #1c4094; }
  .i-checks input:checked + i:before {
    background-color: #1c4094; }

.ti-export.ti-logout {
  transform: rotate(90deg); }

.sign-in-wrapper {
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.navbar-header .navbar-brand .logo img {
  height: 100%; }

.navbar.navbar-inverse.hori-nav {
  background: #1c4094; }
.navbar .navbar-nav > li > a {
  text-transform: uppercase; }

.ui-content-body {
  padding-top: 60px; }

.dataTables_wrapper .tbl-top {
  display: none; }
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info {
  color: #1c4094; }
  .dataTables_wrapper .dataTables_length label, .dataTables_wrapper .dataTables_filter label, .dataTables_wrapper .dataTables_info label {
    font-weight: normal; }
.dataTables_wrapper .pagination .paginate_button {
  border-radius: 0px;
  margin: 0px; }
  .dataTables_wrapper .pagination .paginate_button a {
    border: 0px;
    background-color: transparent; }
    .dataTables_wrapper .pagination .paginate_button a:hover {
      background-color: #1c4094;
      color: white; }
  .dataTables_wrapper .pagination .paginate_button.active a {
    background-color: #1c4094; }
  .dataTables_wrapper .pagination .paginate_button.disabled a:hover {
    background-color: transparent;
    color: #777; }
.dataTables_wrapper .table {
  border: 0px;
  margin-top: 10px; }
  .dataTables_wrapper .table thead tr td {
    padding: 20px 18px;
    text-transform: uppercase; }
    .dataTables_wrapper .table thead tr td.sorting {
      color: #9e9e9e; }
  .dataTables_wrapper .table tbody tr {
    background-color: transparent;
    cursor: pointer;
    opacity: .65; }
    .dataTables_wrapper .table tbody tr:hover, .dataTables_wrapper .table tbody tr.is-active {
      opacity: 1; }
    .dataTables_wrapper .table tbody tr td {
      padding: 10px 18px;
      vertical-align: middle; }
      .dataTables_wrapper .table tbody tr td a {
        color: #1c4094; }
      .dataTables_wrapper .table tbody tr td span {
        color: #1c4094; }

.bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #1c4094;
  display: inline-block; }
  .bullet.green {
    background-color: #23b9a9; }
  .bullet.red {
    background-color: #ef2525; }

.select2-container--default .select2-selection--single {
  border-radius: 2px;
  height: 35px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px; }

.user .item {
  display: inline-block; }
  .user .item.avatar {
    width: 50px;
    height: 50px;
    background: #e3e3e3;
    color: #757575;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px; }
  .user .item.thumbnail-box {
    width: 120px;
    height: 45px;
    margin-right: 20px;
    text-align: center; }
    .user .item.thumbnail-box img {
      max-width: 100%;
      max-height: 100%; }

.box-desc {
  margin: 0px -5px; }
  .box-desc .item {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px; }
    .box-desc .item:last-child {
      border-left: 1px solid #e3e3e3; }
    .box-desc .item:first-child {
      border: 0px; }
  .box-desc .menu-checked {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .box-desc .menu-checked li {
      display: inline-block; }
      .box-desc .menu-checked li a {
        display: inline-block;
        margin: 0px 5px; }
        .box-desc .menu-checked li a:hover, .box-desc .menu-checked li a:focus {
          text-decoration: none; }
        .box-desc .menu-checked li a i {
          font-size: 20px;
          vertical-align: middle;
          color: #adadad; }
  .box-desc .desc-table {
    font-size: 25px;
    font-weight: 100;
    color: #adadad; }
  .box-desc .box-search .item {
    border-left: 0px solid; }
  .box-desc .box-search .icon-search i {
    font-size: 25px;
    vertical-align: middle;
    color: #adadad; }
  .box-desc .box-search .input-search .form-control {
    color: #adadad;
    background: transparent;
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: 100;
    width: 200px; }

.box-avatar {
  width: 250px;
  display: inline-block; }
  .box-avatar .avatar {
    width: 250px;
    height: 250px;
    background: #ededed;
    color: #808080;
    font-size: 150px;
    line-height: 250px;
    text-align: center;
    font-weight: 500; }
  .box-avatar .box-copy {
    background: white;
    padding: 15px 30px;
    text-align: center;
    min-height: 72px; }
    .box-avatar .box-copy a {
      color: #f7d145; }

.box-dir {
  height: 55vh;
  overflow-x: hidden;
  overflow-y: auto; }
  .box-dir::-webkit-scrollbar {
    width: 4px; }
  .box-dir::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent; }
  .box-dir::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #c3c3c3; }
  .box-dir .row {
    margin: 0px; }
  .box-dir .item {
    padding: 5px; }
    .box-dir .item .wrap {
      padding: 5px; }
      .box-dir .item .wrap.is-active {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 5px; }
    .box-dir .item .item-inner {
      background: white;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden; }
      .box-dir .item .item-inner .thumbnail-img {
        height: 120px;
        background: #bdbdbd; }
        .box-dir .item .item-inner .thumbnail-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .box-dir .item .item-inner .thumbnail-img.folder {
          position: relative;
          background-color: #c3c3c3; }
          .box-dir .item .item-inner .thumbnail-img.folder img {
            width: 60px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            .box-dir .item .item-inner .thumbnail-img.folder img::selection {
              color: inherit; }
      .box-dir .item .item-inner .box-copy {
        padding: 10px;
        text-align: center;
        min-height: 80px;
        position: relative; }
        .box-dir .item .item-inner .box-copy .name {
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          width: 100%;
          padding: 0px 5px;
          word-wrap: break-word; }
          .box-dir .item .item-inner .box-copy .name::selection {
            color: inherit; }

.box-page .item {
  padding: 5px; }
  .box-page .item .wrap {
    padding: 5px; }
    .box-page .item .wrap.is-active {
      background: rgba(0, 0, 0, 0.28);
      border-radius: 5px; }
  .box-page .item .item-inner {
    cursor: pointer;
    background: white;
    border-radius: 3px; }
    .box-page .item .item-inner .thumbnail-section {
      height: 125px;
      position: relative;
      margin-bottom: 1vw; }
      .box-page .item .item-inner .thumbnail-section img {
        max-width: 100%;
        height: 100%;
        object-fit: cover; }
    .box-page .item .item-inner .box-copy {
      color: #a7a7a7;
      text-align: center;
      padding: 10px; }

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  margin-left: 2px;
  min-height: 21px; }
  .breadcrumbs li {
    display: inline-block; }
    .breadcrumbs li a {
      display: inline-block;
      color: #adadad;
      margin-left: -2px; }
      .breadcrumbs li a:hover, .breadcrumbs li a:focus {
        text-decoration: none; }
    .breadcrumbs li:after {
      content: "/";
      color: #d6d6d6;
      margin-left: 2px; }
    .breadcrumbs li:first-child {
      margin-right: 10px; }
      .breadcrumbs li:first-child:after {
        display: none; }
    .breadcrumbs li:last-child:after {
      display: none; }
    .breadcrumbs li.disabled a {
      cursor: default; }

.box-image-select {
  position: relative;
  cursor: pointer; }
  .box-image-select .thumbnail-default {
    position: relative;
    height: 100%;
    border: 2px solid #e3e3e3;
    border-style: dashed;
    display: none; }
    .box-image-select .thumbnail-default img {
      width: 20%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .box-image-select .image-select {
    position: relative;
    display: block;
    height: 100%;
    text-align: center; }
    .box-image-select .image-select img {
      max-width: 100%;
      max-height: 100%; }
      .box-image-select .image-select img.object_fit {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .box-image-select .image-select .box-action {
      position: absolute;
      top: 10px;
      width: 100%;
      text-align: right;
      opacity: 0;
      transition: .3s ease-out all; }
      .box-image-select .image-select .box-action a {
        text-align: center;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.88);
        padding: 5px;
        border-radius: 3px;
        margin: 0px 10px;
        display: inline-block; }
        .box-image-select .image-select .box-action a:hover {
          text-decoration: none; }
    .box-image-select .image-select:hover .box-action {
      opacity: 1; }
  .box-image-select.is-empty .thumbnail-default {
    display: block; }
  .box-image-select.is-empty .image-select {
    display: none; }

.modal .modal-dialog .modal-content {
  border-radius: 2px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
  border: 0px;
  background-color: #ededed; }
  .modal .modal-dialog .modal-content .modal-footer .btn {
    border: 0px;
    color: #1c4094; }
    .modal .modal-dialog .modal-content .modal-footer .btn:focus {
      color: #222 !important;
      background-color: transparent !important; }

.toast-top-center {
  top: 50px; }

.toast-bottom-center {
  bottom: 20px; }

.mce-branding-powered-by, .mce-branding {
  display: none !important; }

.modal-backdrop {
  z-index: 65536; }

.modal {
  z-index: 99999; }

.box-page .view-page {
  padding: 0px;
  margin: 0px;
  list-style: none; }
  .box-page .view-page .item {
    padding: 0px;
    position: relative; }
    .box-page .view-page .item .box-button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.66);
      display: none; }
      .box-page .view-page .item .box-button .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border: 3px solid white;
        padding: 5px 50px;
        border-radius: 30px;
        font-weight: bold;
        letter-spacing: 5px; }
    .box-page .view-page .item:hover .box-button {
      display: block; }
    .box-page .view-page .item img {
      width: 100%; }
.box-page .box-add-page {
  width: 100%;
  height: 5vw;
  position: relative;
  background: #e3e3e3;
  cursor: pointer; }
  .box-page .box-add-page .box-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .box-page .box-add-page .box-copy .icon {
      width: 2vw;
      margin: 0 auto; }
      .box-page .box-add-page .box-copy .icon img {
        max-width: 100%; }
    .box-page .box-add-page .box-copy .desc {
      font-size: .7vw;
      font-weight: 700;
      color: #cac8c8;
      margin-top: .2vw; }

body.dragging, body.dragging * {
  cursor: move !important; }

.sortable .dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000; }
.sortable .placeholder {
  position: relative; }
  .sortable .placeholder:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background: #e3e3e3; }

.box-content {
  padding: 30px;
  border: 1px solid #e3e3e3; }
  .box-content .title {
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #cacaca;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 1px; }

.tab-content {
  background: transparent;
  border: 0px;
  padding: 0px;
  padding-top: 15px; }

.box-menu {
  list-style: none;
  padding: 0px; }
  .box-menu li {
    list-style: none; }
    .box-menu li .box-input {
      height: 2.5vw;
      margin: 10px 0px;
      width: 100%;
      padding-left: 30px;
      background: black; }
      .box-menu li .box-input input {
        background: white;
        width: 100%;
        border: 1px solid black;
        height: 100%;
        padding: 5px 10px;
        display: inline-block;
        vertical-align: top; }
  .box-menu .btn-add-menu {
    margin: 10px 0px;
    background: white;
    border: 1px solid black;
    color: black;
    border-radius: 0px;
    width: 100%;
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
