@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('../fonts/UniformRndExCond-Bold.eot');
    src: url('../fonts/UniformRndExCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformRndExCond-Bold.woff2') format('woff2'),
        url('../fonts/UniformRndExCond-Bold.woff') format('woff'),
        url('../fonts/UniformRndExCond-Bold.ttf') format('truetype'),
        url('../fonts/UniformRndExCond-Bold.svg#UniformRndExCond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('../fonts/UniformRndExCond-Regular.eot');
    src: url('../fonts/UniformRndExCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformRndExCond-Regular.woff2') format('woff2'),
        url('../fonts/UniformRndExCond-Regular.woff') format('woff'),
        url('../fonts/UniformRndExCond-Regular.ttf') format('truetype'),
        url('../fonts/UniformRndExCond-Regular.svg#UniformRndExCond-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uniform Rnd ExCond';
    src: url('../fonts/UniformRndExCond-Medium.eot');
    src: url('../fonts/UniformRndExCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformRndExCond-Medium.woff2') format('woff2'),
        url('../fonts/UniformRndExCond-Medium.woff') format('woff'),
        url('../fonts/UniformRndExCond-Medium.ttf') format('truetype'),
        url('../fonts/UniformRndExCond-Medium.svg#UniformRndExCond-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
