@import "my-sass.scss";

$primary-color : #a90230;
$second-color : #f9f9fb;
$third-color : #f7d145;

$success-color : #23b9a9;
$danger-color : #ef2525;

body{
    background-color: #f9f9fb;
}


.w-25px{
    width: 25px!important;
}

.btn{
    &.btn-inna{
        color: $second-color;
        background: $primary-color;
        border-color: $primary-color;
        border-radius: 2px;
        padding: 6px 30px;
        font-weight: 700;
        &:focus{
            color: $second-color!important;
            background: $primary-color!important;
            border-color: $primary-color!important;
        }
        &.btn-outlined{
            background-color: transparent;
            color: #aaa;
            border-color: #aaa;
            &:focus{
                color: #aaa!important;
                background: transparent!important;
                border-color: #aaa!important;
            }
        }
    }
}

.form-control{
    border-radius: 2px;
    height: 35px;
    max-width: 100%;
    padding: 4px 6px;
    &:focus{
        border-color: #ccc;
    }   
}

.input-sm{
    border-radius: 0px;   
}

.form-horizontal{
    .control-label{
        text-align: left;
        font-weight: 500;
        font-size: 15px;
    }
} 

.error{
    margin: 0px;
    p{
        margin: 0px;
    }
}

.i-checks > i:before{
    transition: none;
}
.i-checks input:checked + i{
    border-color: $primary-color;
    &:before{
        background-color: $primary-color;
    }
}


.ti-export{
    &.ti-logout{
        transform: rotate(90deg);
    }
}

.sign-in-wrapper{
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


.navbar-header{
    .navbar-brand{
        .logo{
            img{
                height: 100%;
            }
        }
    }
}

.navbar{
    &.navbar-inverse{
        &.hori-nav{
            background: $primary-color;
        }    
    }
    .navbar-nav{
        > li{
            > a  {
                text-transform: uppercase;
            }  
        } 
    } 
}
.ui-content-body{
    padding-top: 60px;
}

.dataTables_wrapper{
    .tbl-top{
        display: none;
    }
    .dataTables_length,.dataTables_filter,.dataTables_info{
        color: $primary-color;
        label{
            font-weight: normal;
        }
    }
    .pagination{
        .paginate_button{
            border-radius: 0px;
            margin: 0px;
            a{
                border: 0px;
                background-color: transparent;
                &:hover{
                    background-color: $primary-color;
                    color: white;
                }
            }
            &.active{
                a{
                    background-color: $primary-color;
                }
            }
            &.disabled{
                a{
                    &:hover{
                        background-color: transparent;
                        color: #777;
                    }
                }
            }
        }
    }
    .table{
        border: 0px;   
        margin-top: 10px; 
        thead{
            tr{
                td{
                    padding: 20px 18px;
                    text-transform: uppercase;
                    &.sorting{
                        color: #9e9e9e;
                    }
                    
                }
            }
        }
        tbody{
            tr{
                background-color: transparent;
                cursor: pointer;
                opacity: .65;
                &:hover, &.is-active{
                    opacity: 1;
                }
                td{
                    padding: 10px 18px;
                    vertical-align: middle;
                    a{
                        color: $primary-color;
                    }
                    span{
                        color: $primary-color;
                    }
                    
                    

                }
            }
        }
    }
    
}
.bullet{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $primary-color;
    display: inline-block;
    &.green{
        background-color: $success-color;
    }
    &.red{
        background-color: $danger-color;
    }
}
.select2-container--default .select2-selection--single{
    border-radius: 2px;
    height: 35px;
    .select2-selection__rendered{
        line-height: 35px;
    }
    .select2-selection__arrow{
        height: 33px;
    }
}
.user{
    .item{
        display: inline-block;
        &.avatar{
            width: 50px;
            height: 50px;
            background: #e3e3e3;
            color: #757575;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;

        }
        &.thumbnail-box{
            width: 120px;
            height: 45px;
            margin-right: 20px;
            text-align: center;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
.box-desc{
    margin: 0px -5px;
    .item{
        display: inline-block;
        vertical-align: middle;
        padding: 0px 5px;
        &:last-child{
            border-left: 1px solid #e3e3e3;
        }
        &:first-child{
            border: 0px;
        }
        
    }
    .menu-checked{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            display: inline-block;
            a{
                display: inline-block;
                margin: 0px 5px;
                &:hover, &:focus{
                    text-decoration: none;
                }
                i{
                    font-size: 20px;
                    vertical-align: middle;
                    color: #adadad;
                }
            }
        }
    }
    .desc-table{
        font-size: 25px;
        font-weight: 100;
        color: #adadad;
    }
    .box-search{
        .item{
            border-left: 0px solid;
        }
        .icon-search{
            i{
                font-size: 25px;
                vertical-align: middle;      
                color: #adadad;
            }
        }
        .input-search{
            .form-control{
                color: #adadad;
                background: transparent;
                border: 0px;
                border-radius: 0px;
                padding: 0px;
                font-size: 25px;
                font-weight: 100;
                width: 200px;
            }
        }
        
    }    
}
.box-avatar{
    width: 250px;
    display: inline-block;
    .avatar{
        width: 250px;
        height: 250px;
        background: #ededed;
        color: #808080;
        font-size: 150px;
        line-height: 250px;
        text-align: center;
        font-weight: 500;
    }
    .box-copy{
        background: white;
        padding: 15px 30px;
        text-align: center;    
        min-height: 72px;
        a{
            color: $third-color;
        }
    }
}
.box-dir{
    height: 55vh;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #c3c3c3;
    }
    
    .row{
        margin: 0px;
    }
    .item{
        padding: 5px;
        
        .wrap{
            padding: 5px;
            &.is-active{
                background: rgba(0, 0, 0, 0.28);
                border-radius: 5px;
                
            }
        }
        .item-inner{
            background: white;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
            .thumbnail-img{
                height: 120px;
                background: #bdbdbd;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }    
                &.folder{
                    position: relative;
                    background-color: #c3c3c3;
                    img{
                        width: 60px;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        &::selection { 
                            color: inherit; 
                        }
                    }
                }
            }
            .box-copy{
                padding: 10px;
                text-align: center;
                min-height: 80px;
                position: relative;
                .name{
                    font-size: 10px;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    width: 100%;
                    padding: 0px 5px;
                    word-wrap: break-word;
                    &::selection { 
                        color: inherit; 
                    }
                }
            }
            
        }
    }
}
.box-page{
    .item{
        padding: 5px;
        .wrap{
            padding: 5px;
            &.is-active{
                background: rgba(0, 0, 0, 0.28);
                border-radius: 5px;
                
            }
        }
        .item-inner{
            cursor: pointer;
            
            background: white;
            border-radius: 3px;

            .thumbnail-section{
                height: 125px;
                position: relative;
                margin-bottom: 1vw; 
                img{
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .box-copy{
                color: #a7a7a7;
                text-align: center;
                padding: 10px;
                .desc{

                }
            }
        }
    }
}
.breadcrumbs{
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
    min-height: 21px;
    li{
        display: inline-block;

        a{
            display: inline-block;
            color: #adadad;
            margin-left: -2px;
            &:hover, &:focus{
                text-decoration: none;
            }

        }
        &:after{
            content: "/";
            color: #d6d6d6;
            margin-left: 2px;

        }
        &:first-child{
            margin-right: 10px;
            &:after{
                display: none;
            }    
        }
        &:last-child{
            &:after{
                display: none;
            }    
        }
        &.disabled{
            a{
                cursor: default;
            }        
        }
    }
}
.box-image-select{
    position: relative;
    cursor: pointer;

    .thumbnail-default{
        position: relative;
        height: 100%;
        border: 2px solid #e3e3e3;
        border-style: dashed;
        display: none;
        img{
            width: 75%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    }
    .image-select{
        position: relative;
        display: block;
        height: 100%;
        text-align: center;
        img{
            max-width: 100%;
            max-height: 100%;
            &.object_fit{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .box-action{
            position: absolute;
            top: 10px;
            width: 100%;
            text-align: right;
            opacity: 0;
            transition: .3s ease-out all;
            a{
                text-align: center;
                width: 30px;
                height: 30px;
                background-color: rgba(255, 255, 255, 0.88);
                padding: 5px;
                border-radius: 3px;
                margin: 0px 10px;
                display: inline-block;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &:hover{
            .box-action{
                opacity: 1;
            }
        }
    }
    &.is-empty{
        .thumbnail-default{
            display: block;
        }
        .image-select{
            display: none;
        }
    }
}
.modal{
    .modal-dialog{
        .modal-content{
            border-radius: 2px;
            box-shadow: 0px 0px 20px -5px rgba(0,0,0,.5);
            border: 0px;
            background-color: #ededed;
            .modal-body{

            }
            .modal-footer{
                .btn{
                    border: 0px;
                    color: $primary-color;
                    &:focus{
                        color: #222!important;
                        background-color: transparent!important;
                    }
                }
            }
        }
    }
}

.toast-top-center{
    top: 50px;
}
.toast-bottom-center{
    bottom: 20px;
}
.mce-branding-powered-by,.mce-branding{
    display: none!important;
}

.modal-backdrop{
    z-index: 65536;
}
.modal{
    z-index: 99999;
}


.box-page{
    .view-page{
        padding: 0px;
        margin: 0px;
        list-style: none;
        .item{
            padding: 0px;
            position: relative;
            .box-button{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.66);
                display: none;
                .btn{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: white;
                    border: 3px solid white;
                    padding: 5px 50px;
                    border-radius: 30px;
                    font-weight: bold;
                    letter-spacing: 5px;
                }
            }
            &:hover{
                .box-button{
                    display: block;
                }
            }
            img{
                width: 100%;
            }    
        }
        
    }
    .box-add-page{
        width: 100%;
        height: 5vw;
        position: relative;
        background: #e3e3e3;
        cursor: pointer;
        .box-copy{
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .icon{
                width: 2vw;
                margin: 0 auto;
                img{
                    max-width: 100%;
                }
            }
            .desc{
                font-size: .7vw;
                font-weight: 700;
                color: #cac8c8;
                margin-top: .2vw;
            }
            
        }
    }
}
body.dragging, body.dragging * {
    cursor: move !important;
}
.sortable{
    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;

    }    
    .placeholder {
        position: relative;
        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 10px;
            background: #e3e3e3;
        }
    }
}
.box-content{
    padding: 30px;
    border: 1px solid #e3e3e3;
    .title{
        font-size: 1vw;
        font-weight: bold;
        text-transform: uppercase;
        color: #cacaca;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
}
.tab-content{
    background: transparent;
    border: 0px;
    padding: 0px;
    padding-top: 15px;
}
.box-menu{
    list-style: none;
    padding: 0px;
    li{
        list-style: none;
        
        .box-input{
            height: 2.5vw;
            margin: 10px 0px;
            width: 100%;
            padding-left: 30px;
            background: black;

            input{
                background: white;
                width: 100%;
                border: 1px solid black;
                height: 100%;

                padding: 5px 10px;

                display: inline-block;
                vertical-align: top;
            }
        }
    }
    .btn-add-menu{
        margin: 10px 0px;
        background: white;
        border: 1px solid black;
        color: black;
        border-radius: 0px;
        width: 100%;
        font-weight: bold;
        
    }
}
