<header class="header-main">
    <div class="row align-items-center">
      <div class="col">
        <a href="index.html"><div class="logo"></div></a>
      </div>
      <div class="col text-right">
          <div class="menu menu-mobile">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
      </div>
    </div>
</header>

<div class="main-menu menu-trans normalize">
  <div class="menu-title">
    <h3>MIZONE ISOTONIC</h3>
    <p>OUR PRODUCTS</p>
  </div>
  <div class="menu-slider">
    <div class="slide-item is-mobile" style="background: url(../images/main-bg-mobile.jpg) no-repeat center center;">
      <div class="container-mz slide-menu">
        <div class="row aligntment f-100">
          <div class="col-lg-5 col-ipd">
            <div class="section-text">
              <img src="../images/variant_activ.svg" class="img-text size-act" alt="">
              <h3 class="sub-olo mb-0">LYCHEE LEMON</h3>
            </div>
          </div>
          <div class="col-lg-7 col-ipd">
              <div class="product-img">
                <img src="../images/img-active.png" class="img-fluid" alt="">
              </div>
          </div>
        </div>
        <div class="view-content">
          <a href="#" class="btn btn-primary btn-view">VIEW PRODUCT</a>
          <div class="is-view-content">
            <p>
              Abis futsal, <br>
              Lanjut basket, <br>
              Minum MIZONE ACTIV’ Lychee Lemon, <br>
              100% SABI keringetan lagi!
            </p>
            
            <button class="btn btn-primary btn-block mt-4 close-view">CLOSE DETAIL</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-item is-mobile" style="background: url(../images/main-bg3-mobile.jpg) no-repeat center center;">
      <div class="container-mz slide-menu">
        <div class="row aligntment f-100">
          <div class="col-lg-5 col-ipd">
            <div class="section-text">
              <img src="../images/variant_moodup.svg" class="img-text" alt="">
              <h3 class="sub-olo mb-0">CRANBERRY</h3>
            </div>
          </div>
          <div class="col-lg-7 col-ipd">
              <div class="product-img">
                <img src="../images/product-mood-up.png" class="img-fluid" alt="">
              </div>
          </div>
        </div>
       
        <div class="view-content">
          <a href="#" class="btn btn-primary btn-view">VIEW PRODUCT</a>
          <div class="is-view-content">
            <p>
              Abis beresin revisi, <br>
              Lanjut party sampe pagi? <br>
              Minum MIZONE MOOD UP Cranberry, <br>
              100% SABI sikat semua!
            </p>
            
            <button class="btn btn-primary btn-block mt-4 close-view">CLOSE DETAIL</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-item is-mobile" style="background: url(../images/main-bg2-mobile.jpg) no-repeat center center;">
      <div class="container-mz slide-menu">
        <div class="row aligntment f-100">
          <div class="col-lg-5 col-ipd">
            <div class="section-text">
              <img src="../images/variant_moveon.svg" class="img-text" alt="">
              <h3 class="sub-olo mb-0">STARFRUIT</h3>
            </div>
          </div>
          <div class="col-lg-7 col-ipd">
              <div class="product-img">
                <img src="../images/product-moveon.png" class="img-fluid" alt="">
              </div>
          </div>
        </div>
        

        <div class="view-content">
          <a href="#" class="btn btn-primary btn-view">VIEW PRODUCT</a>
          <div class="is-view-content">
            <p>
              Abis diputusin mantan, <br>
              Lanjut ketemu gebetan? <br>
              Minum MIZONE ACTIV’ Starfruit, <br>
              100% SABI anti galau!
            </p>
            
            <button class="btn btn-primary btn-block mt-4 close-view">CLOSE DETAIL</button>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-item is-mobile" style="background: url(../images/main-bg4-mobile.jpg) no-repeat center center;">
      <div class="container-mz slide-menu">
        <div class="row aligntment f-100">
          <div class="col-lg-5 col-ipd">
            <div class="section-text">
              <img src="../images/variant_breakfree.svg" class="img-text" alt="">
              <h3 class="sub-olo mb-0">CHERRY BLOSSOM</h3>
            </div>
          </div>
          <div class="col-lg-7 col-ipd">
              <div class="product-img">
                <img src="../images/product-break-free.png" class="img-fluid" alt="">
              </div>
          </div>
        </div>
     
        <div class="view-content">
          <a href="#" class="btn btn-primary btn-view">VIEW PRODUCT</a>
          <div class="is-view-content">
            <p>
              Abis sibuk seharian, <br>
              Lanjut noraebang semaleman? <br>
              Minum MIZONE BREAK FREE Cherry Blossom <br>
              100% SABI goyang teruus!
            </p>
            
            
            <button class="btn btn-primary btn-block mt-4 close-view">CLOSE DETAIL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>